:root {
  --main-title-color:#ffffff;
  --second-title-color: 
  --main-text-color: 
  --second-text-color: 
  --third-text-color: 
  --fourth-text-color: 
  --accent-color: 
  --main-btn-color: 
  --second-btn-color: 
  --header-text-color: 
}
body {
  font-family: "Open sans", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

header {
  background-color: #ffffff;
}

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
}